@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("./assets/fonts/Inter-Thin.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("./assets/fonts/Inter-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/Inter-Light.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/Inter-Black.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    @apply font-Inter;
    height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 16px;
}

.bg-gradient {
    background-image: linear-gradient(90deg, rgba(226, 235, 255, 0), rgba(226, 235, 255, 1));
    background-color: unset;
    padding-block-end: 0.125rem;
    box-decoration-break: clone;
    padding-inline-end: 1rem;
}